.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.Cockpit button:hover {
  background-color: pink;
}

.Cockpit button.red {
  background-color: red;
  color: white;
}

.Cockpit button.red:hover {
  background-color: plum;
}

@media (min-width: 500px) {
  .Cockpit button {
    background-color: black;
    color: white;
  }
}